{{> header}}
<h2>About page - Ashrafzhon Kurbonaliev</h2>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe magnam porro quia perferendis, iusto sed corporis
    dicta eum ex, numquam accusantium dignissimos accusamus velit aliquam perspiciatis minus! Sunt, cumque? Nobis.</p>
<p>Description: {{description}}</p>